In [ ]:
import pandas as pd

# Carregando os dados dos arquivos CSV
fornecedores = pd.read_csv('Fornecedores.csv')
transportadoras = pd.read_csv('Transportadoras.csv')
vendas_globais = pd.read_csv('Vendas Globais.csv')
vendedores = pd.read_csv('Vendedores.csv')

# Juntando os DataFrames conforme necessário
dados = vendas_globais.merge(fornecedores, on='FornecedorID').merge(transportadoras, on='TransportadoraID').merge(vendedores, on='VendedorID')

# Convertendo coluna de datas para tipo datetime, se aplicável
dados['Data'] = pd.to_datetime(dados['Data'], format='%d/%m/%Y')

In [11]:
# 1. Quem são os meus 10 maiores clientes, em termos de vendas ($)?
top_10_clientes = dados.groupby('ClienteNome').sum(numeric_only=True).sort_values(by='Vendas', ascending=False).head(10)
top_10_clientes.reset_index(inplace=True)
top10_cliente_display = top_10_clientes[["ClienteNome", "Vendas"]]
print("-----------------1--------------------")
display(top10_cliente_display)

-----------------1--------------------

        ClienteNome       Vendas
0         Grunewald  201320.4531
1        Th Fashing  152114.7892
2           Boleros  131133.1451
3           Champes   91362.1350
4  The Corner Store   82519.8235
5       Eintrach GS   75153.5245
6         Don Balón   68265.6625
7           Warp AG   65815.9770
8       Rode & Vite   59976.9277
9        Boombastic   50922.4655

In [4]:
# 2. Quais os três maiores países, em termos de vendas ($)?
top_3_paises = dados.groupby('ClientePaís').sum(numeric_only=True).sort_values(by='Vendas', ascending=False).head(3)
top_3_paises.reset_index(inplace=True)
top_3_paises_display = top_3_paises[["ClientePaís", "Vendas"]]
print("-----------------2--------------------")
display(top_3_paises_display)

-----------------2--------------------

  ClientePaís       Vendas
0     Germany  519553.7336
1         USA  186313.2205
2      France  175565.3015

In [5]:
# 3. Quais as categorias de produtos que geram maior faturamento (vendas $) no Brasil?
categorias_brasil = dados[dados['ClientePaís'] == 'Brazil'].groupby('CategoriaDescrição').sum(numeric_only=True).sort_values(by='Vendas', ascending=False)
categorias_brasil.reset_index(inplace=True)
categorias_brasil_display = categorias_brasil[["CategoriaDescrição", "Vendas"]]
print("-----------------3--------------------")
display(categorias_brasil_display)

-----------------3--------------------

  CategoriaDescrição      Vendas
0  Fashion for Women  60941.7265
1            Sports…  19509.4255
2          0-3 Years  10367.2100
3          Men Shoes   9467.7425
4       Ladies Shoes   7798.5190
5    Fashion for Men   6158.0640
6          Beachwear   3407.7050
7         3-15 Years   2752.4250

In [6]:
# 4. Qual a despesa com frete envolvendo cada transportadora?
despesa_frete = dados.groupby('TransportadoraNome')['Frete'].sum().sort_values(ascending=False)
print("-----------------4--------------------")
display(despesa_frete)

-----------------4--------------------

TransportadoraNome
Global Express      70897.82
General Shipping    19843.83
Great Logistics     18771.69
Name: Frete, dtype: float64

In [7]:
# 5. Quais são os principais clientes (vendas $) do segmento “Calçados Masculinos” (Men's Footwear) na Alemanha?
clientes_calcados_alemanha = dados[(dados['CategoriaNome'] == "Men´s Footwear") & (dados['ClientePaís'] == 'Germany')].groupby('ClienteNome').sum(numeric_only=True).sort_values(by='Vendas', ascending=False)
print('----------------5---------------------')
clientes_calcados_alemanha.reset_index(inplace=True)
cliente_calcados_display = clientes_calcados_alemanha[['ClienteNome', 'Vendas']]
display(cliente_calcados_display)

----------------5---------------------

          ClienteNome      Vendas
0           Grunewald  20488.4850
1         Gluderstedt  11923.3485
2          Boombastic  11235.9700
3         Eintrach GS  10377.8330
4             Warp AG   9085.7650
5    Noch Einmal GMBH   3030.7200
6     Casual Clothing   2602.5025
7          Halle Köln   1692.5580
8         Man Kleider   1108.0000
9  Kohl Industries AG    286.5600

In [ ]:
# 6. Quais os vendedores que mais dão descontos nos Estados Unidos?
vendedores_descontos_usa = dados[dados['ClientePaís'] == 'USA'].groupby('VendedorNome')['Desconto'].sum().sort_values(ascending=False)
print("-------------6------------------------")
# vendedores_descontos_usa.reset_index(inplace=True)
# vendedores_usa_display = vendedores_descontos_usa[['VendendorNome', 'Desconto']]
display(vendedores_descontos_usa)

In [ ]:
# 7. Quais os fornecedores que dão a maior margem de lucro ($) no segmento de “Vestuário Feminino” (Women's Wear)?
fornecedores_margem_vestuario_feminino = dados[dados['CategoriaNome'] == 'Womens wear'].groupby('FornecedorNome')['Margem Bruta'].sum().sort_values(ascending=False)
print("---------------7----------------------")
display(fornecedores_margem_vestuario_feminino)

In [16]:
# 8. Quanto que foi vendido ($) no ano de 2009?
vendas_2009 = dados[dados['Data'].dt.year == 2009]['Vendas'].sum()
vendas_anuais = dados.groupby(dados['Data'].dt.year)['Vendas'].sum()
# Aqui você deve analisar as vendas anuais para verificar a tendência.
print("-----------------8--------------------")
print(vendas_2009)
print("-------------------------------------Vendas Anuais---------------------------")
display(vendas_anuais)

-----------------8--------------------
87666.294
-------------------------------------Vendas Anuais---------------------------

Data
2009     87666.2940
2010    370788.5561
2011    641719.4091
2012    682973.4414
Name: Vendas, dtype: float64

In [ ]:
# 9. Quais são os principais clientes (vendas $) do segmento “Calçados Masculinos” (Men's Footwear) na Alemanha?
# IGUAL A QUESTÃO 5
# clientes_calcados_alemanha = dados[(dados['CategoriaNome'] == "Men´s Footwear") & (dados['ClientePaís'] == 'Alemanha')].groupby('ClienteNome').sum().sort_values(by='Vendas', ascending=False)
# print("----------------9---------------------")
# print(clientes_calcados_alemanha)

In [17]:
# 10. Quais os países nos quais mais se tiram pedidos (quantidade total de pedidos)?
pedidos_por_pais = dados['ClientePaís'].value_counts()
print("-----------------10--------------------")
display(pedidos_por_pais)
print("-------------------------------------")

-----------------10--------------------

ClientePaís
Germany        491
USA            267
France         177
UK             163
Brazil         157
Ireland        140
Venezuela      121
Mexico         113
Denmark         92
Canada          87
Sweden          78
Austria         63
Spain           56
Italy           35
Argentina       27
Switzerland     26
Belgium         25
Portugal        21
Finland         16
Poland          16
Norway           1
Name: count, dtype: int64

-------------------------------------